In [1]:
import pandas as pd

In [52]:
data = pd.read_csv("all_data_202206240126.csv")
data

             name  복지및급여  워라벨  사내문화  승진기회및가능성  경영진  기업추천율  ceo지지율  성장가능성   총점
0      페이스북코리아(유)    4.5  4.0   4.4       4.2  4.2     83      85     77  4.5
1           (주)살다    3.7  4.3   4.5       4.2  4.4     88      91     85  4.4
2       라이엇게임즈코리아    4.3  3.9   4.5       3.5  4.2     87      80     68  4.4
3          (주)데이블    3.7  4.7   4.7       4.0  4.1     92      92     79  4.4
4           네이버웹툰    4.3  3.4   4.3       3.8  4.1     88      88     79  4.4
..            ...    ...  ...   ...       ...  ...    ...     ...    ...  ...
167     한국자산평가(주)    2.4  4.0   3.5       3.3  2.4     50      30     20  3.2
168        (주)모비젠    2.8  3.4   3.3       3.0  2.7     50      51     23  3.2
169  (주)카카오엔터테인먼트    3.1  3.2   3.3       2.8  2.6     53      57     52  3.2
170  케이비데이타시스템(주)    2.9  3.7   3.0       3.2  2.2     41      36     23  3.2
171        (주)소만사    3.3  2.8   2.9       3.3  3.0     47      77     37  3.2

[172 rows x 10 columns]

In [15]:
def grouping(x):
    if x > 4.3 :
        return 'A'
    elif (x <=4.3) and (x > 4):
        return 'B'
    elif (3.8< x) and (x < 4):
        return 'C'
    elif (3.6< x) and (x <= 3.8):
        return 'D'
    elif (3.4< x) and (x <= 3.6):
        return 'E'
    else:
        return 'F'

In [17]:
data['Group'] = data['총점'].apply(lambda x : grouping(x))

In [53]:
data

             name  복지및급여  워라벨  사내문화  승진기회및가능성  경영진  기업추천율  ceo지지율  성장가능성   총점
0      페이스북코리아(유)    4.5  4.0   4.4       4.2  4.2     83      85     77  4.5
1           (주)살다    3.7  4.3   4.5       4.2  4.4     88      91     85  4.4
2       라이엇게임즈코리아    4.3  3.9   4.5       3.5  4.2     87      80     68  4.4
3          (주)데이블    3.7  4.7   4.7       4.0  4.1     92      92     79  4.4
4           네이버웹툰    4.3  3.4   4.3       3.8  4.1     88      88     79  4.4
..            ...    ...  ...   ...       ...  ...    ...     ...    ...  ...
167     한국자산평가(주)    2.4  4.0   3.5       3.3  2.4     50      30     20  3.2
168        (주)모비젠    2.8  3.4   3.3       3.0  2.7     50      51     23  3.2
169  (주)카카오엔터테인먼트    3.1  3.2   3.3       2.8  2.6     53      57     52  3.2
170  케이비데이타시스템(주)    2.9  3.7   3.0       3.2  2.2     41      36     23  3.2
171        (주)소만사    3.3  2.8   2.9       3.3  3.0     47      77     37  3.2

[172 rows x 10 columns]

In [54]:
dupli = data[data.duplicated() == True].index

In [55]:
data.drop(index= dupli, inplace = True)

In [64]:
train = data

In [60]:
train.drop(columns = ['기업추천율','ceo지지율','성장가능성'],inplace = True)

In [66]:
train.drop(columns = ['name'], inplace = True)

In [67]:
train

     복지및급여  워라벨  사내문화  승진기회및가능성  경영진   총점
0      4.5  4.0   4.4       4.2  4.2  4.5
1      3.7  4.3   4.5       4.2  4.4  4.4
2      4.3  3.9   4.5       3.5  4.2  4.4
3      3.7  4.7   4.7       4.0  4.1  4.4
4      4.3  3.4   4.3       3.8  4.1  4.4
..     ...  ...   ...       ...  ...  ...
167    2.4  4.0   3.5       3.3  2.4  3.2
168    2.8  3.4   3.3       3.0  2.7  3.2
169    3.1  3.2   3.3       2.8  2.6  3.2
170    2.9  3.7   3.0       3.2  2.2  3.2
171    3.3  2.8   2.9       3.3  3.0  3.2

[166 rows x 6 columns]

In [68]:
from sklearn.linear_model import LinearRegression

In [71]:
target = ['총점']
features = ['복지및급여','워라벨','사내문화','승진기회및가능성','경영진']

model = LinearRegression()

X_train = train[features]
y_train = train[target]

model.fit(X_train,y_train)

LinearRegression()

In [72]:
import pickle

with open('model.pkl','wb') as pickle_file:
    pickle.dump(model, pickle_file)

In [81]:
import numpy as np

In [83]:
test = np.array([[3,4,4,4,3]])

In [85]:
k = model.predict(test)

/opt/anaconda3/envs/kaggle/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [89]:
round(k[0][0],1)

3.7